body {
    background-color: black;
    color: white;
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
}

h1 {
    color: goldenrod;
    font-size: 24px;
    margin-bottom: 10px;
}



ul li {
    font-size: 14px;
    margin-bottom: 5px;
}

.bold-text {
    font-weight: bold;
    margin-right: 10px;
    font-size: 16px;
}

#bio {
   font-size: 30px; /* Adjust font size as needed */
   text-align: center;
   text-decoration: underline;
   text-decoration-color: goldenrod; /* Color of the underline */
}

#video-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    flex-direction: column;
}

#video-container video {
    max-width: 90%;
    max-height: 80%;
}

#video-container-father {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    flex-direction: column;
}

#video-container-father video {
    max-width: 90%;
    max-height: 80%;
}

#close-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: goldenrod;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#close-btnf {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: goldenrod;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.confetti {
    position: fixed;
    width: 10px;
    height: 10px;
    top: 0;
    z-index: 2000;
    animation-name: fall;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
        opacity: 0;
    }
}
